@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Space+Grotesk:wght@300;400;500&display=swap');
body{
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* card */

.bg{
  display: block;
}
.colorBg{
  width: 375px;
  height: 240px;
  margin: 0 auto;
  position: relative;
  display: block;
}
.backCard{
  position: absolute;
  left: 6px;
  border-radius: 6px;
  z-index: 1;
  width: 286px;
  margin-left: 73px;
  margin-top: 32px;
  display: block;
}
.backCvCode{
  position: absolute;
  z-index: 7;
  top: 85px;
  left: 303px;
  color: #FFFFFF;
}

.frontCard{
  width: 285px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 50%;
  bottom: 0.25%;
  display: block;
  

}
.logoCard{
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 30px;
  top: 138px;
  left: 20px;
  color: white;
  padding-left: 19px;
  padding-right: 27px;margin-bottom: 37px;
}
.cardData{
  position: absolute;
  z-index: 5;
  list-style: none;
  top: 160px;
  padding-right: 27px;
  padding-left: 17px;
}
.number{
  padding-left: 19px;
}

ul{
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
}
h2{
  width: 239px;
  height: 23px;
  top: 85px;
  left: 55px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 2.2px;
  font-weight: 500px;
  color: #FFFFFF;
  padding-left: 19px;
  padding-right: 27px;
  margin-top: 37px;
 
}
li{
  color: white;
}
.cvCode{
  margin-right: 17px;
}

label{
  margin-bottom: 9px;
  display: block;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  font-weight: 500px;
}
input{
  width: 327px;
  height: 45px;
  border-radius: 8px;
  margin-bottom: 20px;
 border-width: 1px;
 border-color: #DFDEE0;
}
input:focus {
  outline: none;
}
.half{
  width: 90%;
  gap: 16px;
}

article{
  
  display: flex;
 
 
}
.inputData{
  display: flex;
}
button{
  width: 327px;
  height: 53px;
  border-radius: 8px;
  background-color: #21092F;
  margin-top: 28px;
  margin-bottom: 45px;
  color: white;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  text-align: center;
}

.formContainer{
  margin-top: 131px;
  padding-left: 24px;
}

label{
  margin-bottom: 9px;
  display: block;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  font-weight: 500px;
}
input{
  width: 327px;
  height: 45px;
  border-radius: 8px;
  margin-bottom: 20px;
 border-width: 1px;
 border-color: #DFDEE0;
}
input:focus {
  outline: none;
}
.half{
  width: 90%;
  gap: 16px;
}

article{
  
  display: flex;
 
 
}
.inputData{
  display: flex;
}
button{
  width: 327px;
  height: 53px;
  border-radius: 8px;
  background-color: #21092F;
  margin-top: 28px;
  margin-bottom: 45px;
  color: white;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  text-align: center;
}

/* thank you */
.thankComplete{
  margin-top: 98px;
  display: grid;
  grid-template-columns: 300px; 
}
.completeImg{
 
  margin: 0 auto;
}
h1{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 4px;
  font-weight: 500;
  text-align: center;    
}
p{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 48px;
  
}
button{
  width: 327px;
  height: 53px;
  border-radius: 8px;
  background-color: #21092F;
}

