@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Space+Grotesk:wght@300;400;500&display=swap');
/* .app{
  font-family: 'Space Grotesk', sans-serif;
} */
.bg{
  width: 400px;
  height: 650px;
  background-color: #FFFFFF;
}
.colorBg{
  width: 375px;
  height: 240px;
  background-color: #21092F;
  margin: 0 auto;
  position: relative;
}
.backCard{
  width: 286px;
  margin-left: 73px;
  margin-top: 32px;
  
}
.frontCard{
  width: 285px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  right: 0%;
  top: 50%;
  bottom: 0.25%;
  left: 0.35%;

}
.logoCard{
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 30px;
  top: 138px;
  left: 20px;
  color: white;
}
.cardData{
  position: absolute;
  z-index: 5;
  list-style: none;
  top: 160px;
}
h2{
  width: 239px;
  height: 23px;
  top: 85px;
  left: 20px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 2.2px;
  font-weight: 500px;
  color: #FFFFFF;
  padding: 19px;
  

}

/* formContainer */
.formContainer{
  margin-top: 131px;
  padding-left: 24px;
}
label{
  margin-bottom: 9px;
  display: block;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  font-weight: 500px;
}
input{
  width: 327px;
  height: 45px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 20px;
  color: #DFDEE0;
}
