@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Space+Grotesk:wght@300;400;500&display=swap');
/* .app{
  font-family: 'Space Grotesk', sans-serif;
} */
.bg{
  width: 400px;
  height: 550px;
  background-color: #F2F2F2;
}
.colorBg{
  width: 375px;
  height: 240px;
  background-color: #21092F;
  margin: 0 auto;
}
